.jumbotron {
    padding-top: 7rem;
    background-color:    #a2d9ff;
    ;
}
/* Kalau id gunakan tanda # */
#project {

    background-color:#a2d9ff;
}

.kotak {
    width: 80px;
    height: 80px;
    
    line-height: 50px;
    transition: 0.7s;
}

.kotak:hover {
    transform: rotate(360deg);
    border-radius: 50%;
    background-color:darkgreen;
    color: black;
    font-size: 20px;
    text-align: center;
}

.title {
    font-family: Odibee Sans, sans-serif ;
    
}

.viga {
    /* rock salt */
    font-family: rock salt, sans-serif;

    font-size: 25px;
}

h2 {
    font-family: Lobster;
}

.gallery-img {
    width: 100%;
}

/* Cari kan id gallery yang class row semuanya hilangkan padding nya */
#gallery .row > * {
    padding: 0;
}

.btn-ply {
    width: 60px;
    height: 60px;
    
    line-height: 50px;
    transition: 0.7s;
}

.btn-ply:hover {
    transform: rotate(360deg);
    border-radius: 50%;
    background-color: transparent;
    color: black;
    font-size: 20px;
}